# This is a basic workflow to help you get started with Actions

name: ping-sorascan

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -X POST https://sorascan.com/api/v1/harvester/start
          curl -X POST https://test.sorascan.com/api/v1/harvester/start 
          curl -X POST https://sorascan.tst.sora2.soramitsu.co.jp/api/v1/harvester/start
          curl -X POST https://explorer.s2.dev.sora2.soramitsu.co.jp/api/v1/harvester/start
